:root{
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white:#fff;
    --black:#000;

}



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    
    font-size: 62.5%;
}

body{
    font-family: 'Quicksand', sans-serif;
}


.login{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.login__form-container{
    max-width: 500px;
    width: 100%;
}


.form-container__img{

    width: 100%;

}

.form-container__h1{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 12px;

}


.form-container__p{

    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 12px;
    color: #c7c7c7 ;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  0 100px;
}

.form__label{
    font-size: 1.5rem;
    margin: 0.5rem 0 ;
    text-align: left !important;


}

.form__input{
    width: 100%;  
    height: 25px;  
    padding: 5px;
}

.form__input::placeholder{
    font-size: 1.5rem;
}

.button{
    width: 50%;
    margin-top: 20px;
    font-size: 1.5rem  !important;
}